__pycache__/
*.py[cod]
.ipynb_checkpoints/

outputs/
pipeline_results/
results/
models/
datasets/
kvp_comparison/datasets/

*.pt
*.pth
*.ckpt
*.joblib
*.pkl
*.pickle
*.safetensors
*.bin

*.aux
*.log
*.out
*.toc
